<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <servlet>
  	<servlet-name>Tweet_map</servlet-name>
  	<servlet-class>tweet_server.Tweet_map_server</servlet-class>
  	<init-param>
  		<param-name>tag_list</param-name>
  		<param-value>#life,#snow,#weather,#warm,#justinbieber</param-value>
  </init-param>
  <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Tweet_map</servlet-name>
  	<url-pattern>/Tweet_map_server</url-pattern>
  </servlet-mapping>
  <display-name>Tweet_map_server</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>